fastapi
uvicorn
python-dotenv
httpx
beautifulsoup4
langchain-anthropic
langchain-core
langgraph
langchain-groq
pydantic
pydantic-settings
pinecone
firebase-admin
sqlalchemy
psycopg2-binary
alembic
stripe
slowapi
python-jose[cryptography]
